@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  overflow: hidden;
  height: 100%;
}
body {
  color: rgb(var(--foreground-rgb));
  height: 100%;
  background: oklch(var(--b1));
}

// 스크롤바 전체
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: lightgray;
}

//스크롤 막대
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background: gray;
}

// 스크롤 막대 외부
::-webkit-scrollbar-track {
}
